In [ ]:
# Company problem statemnet 
3 typs of  Stage 
1.Machine Learning Stage 
2.Supervised Learning Stage 
3.regression-Number

In [1]:
import pandas as pd

In [ ]:
!pip install lightgbm

In [ ]:
import lightgbm

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)  #data pre process(converting string into number-nominal data)

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [7]:
indep=dataset[['age', 'bmi', 'children','charges','sex_male', 'smoker_yes']]

KeyError: "['smoker_yes', 'sex_male'] not in index"

In [ ]:
indep

In [ ]:
depend=dataset[['charges']]

In [ ]:
depend

In [ ]:
from sklearn.model_selection import train_test_split             #sklearn library used to split train set and test set 

X_train,X_test,Y_train,Y_test=train_test_split(indep, depend, test_size=0.30, random_state=0)

                                                              #Then call train_test_split function it is parameterised function

In [ ]:
X_train

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [ ]:
X_train

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
regressor = AdaBoostRegressor(n_estimators=1000, random_state=0)

regressor.fit(X_train,Y_train)

In [ ]:
y_pred=regressor.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)                                         #To find the r2_score,we take actual output and predictor.

In [ ]:
r_score

In [ ]:
import pickle                             #Pickle is uesd for save the modle(pickle filename extention is 'sav')
filename="finalized_model_AdaBoost.sav"        # creat file

In [ ]:
pickle.dump(regressor, open(filename,"wb"))  #modle saved in that file

In [ ]:
loaded_modle=pickle.load(open("finalized_model_AdaBoost.sav", "rb")) # load the modle (Rb means reading)
result=loaded_modle.predict([[0,0,0,0,0,0]])

In [ ]:
result